
{% extends 'base.html.twig' %}


{% block content %}

<div class="container col-lg-10 col-lg-offset-1 activityForm management" style="padding-top:50px;">


    <div class="col-12 pageTitle">

        <h2>
            Réinitialisation du mot de passe <span class="managSubtitle"> #organisme</span>

        </h2>

        <p style="font-size:16px; padding-top:50px; padding-bottom : 30px;">Afin de recevoir un mail de réinitialisation, renseignez votre adresse mail :</p>

        {{form_start(form)}}

        {{ form_label(form.email, 'Votre email :') }}
        {{ form_widget(form.email, {'attr': {'required': true, 'class' : ' form-control'}})}}
        {{ form_errors(form.email) }}


        <button class="btn btn-primary buttonValid"  type="submit">Envoyer</button>

        {{form_end(form)}}

    </div>

</div>

{% endblock %}
