


{% extends 'base.html.twig' %}


	{% block content %}

		<div class="container col-lg-10 col-lg-offset-1 activityForm management" style="padding-top:50px;">

			<div class="col-12 pageTitle">

				<h2>
					Modification du mot de passe <span class="managSubtitle"> #organisme</span>

				</h2>

				<p style="font-size:16px; padding-top:50px; padding-bottom : 30px;">Veuillez entrer votre nouveau mot de passe</p>

				{{form_start(form)}}

				{{ form_label(form.plainPassword.first, 'Mot de passe :') }}
				{{ form_widget(form.plainPassword.first, {'attr': {'required': true, 'class' : ' form-control'}})}}
				{{ form_errors(form.plainPassword.first) }}

				{{ form_label(form.plainPassword.second, 'Répétition du mot de passe :') }}
				{{ form_widget(form.plainPassword.second, {'attr': {'required': true, 'class' : ' form-control'}})}}
				{{ form_errors(form.plainPassword.second) }}

				<button class="btn btn-primary buttonValid"  type="submit">Envoyer</button>

				{{form_end(form)}}

			</div>

		</div>

    {% endblock %}