

{#----------------------------- Page formulaire d'ajout d'un organisme ---------------------------#}


{% extends 'base.html.twig' %}

{% block content %}


    <div class="yellowBlock">
        <h1 style="padding-top:20px;margin-top:0;">Gestion des articles</h1>
    </div>

    <div class = "whiteBlock" style="padding-top:70px;">
    <div class="articleAdmin container col-lg-8 col-lg-offset-2">



        {% for article in articles %}


                <div class="articleText">

                <p>
                    <a href="{{ path('article',{'art':article.id}) }}" class="btn btn-fill btn-owl" style="padding:14px 15px;">Voir l'article</a>

                    <a class="glyphicon glyphicon-pencil link articleUpdate" style="margin-right:10px; margin-left:10px;" id="up{{ article.id }}" href="{{ path('articleFormDisplay',{'art':article.id}) }}"></a>
                    {#<span class="glyphicon glyphicon-pencil link articleUpdate" id="up{{ article.id }}"></span>#}
                    <span class="glyphicon glyphicon-trash link articleTrash" id="tr{{ article.id }}"></span>

                </p>

                <p>
                    {{ article.author ~ ', le ' ~ article.date|date('d/m/Y') ~ ' (modifié le ' ~ article.updateDate|date('d/m/Y') ~  ') - "' ~ article.title ~ '"' }}
                </p>


                    <p>{{ article.text|slice(0, 600)|raw }}</p>

                </div>

                <hr/>

        {% endfor %}

    </div>
    </div>

{% endblock %}


    {% block javascripts %}

        {{ parent() }}

        <script src="{{ asset('assets/js/articleAdmin.js') }}"></script>

    {% endblock %}
