

{#----------------------------- Page formulaire d'ajout d'un organisme ---------------------------#}


{% extends 'base.html.twig' %}

{% block title %}Espace administrateur{% endblock %}


{% block content %}


    <div class="team adminSpace"  style="text-align:center;margin-top:50px;margin-bottom:70px;">
        <div class="row">

            <div class="col-md-8 col-md-offset-2">

                <div class="col-md-3 text-center">
                <a aria-label="Atteindre la page prospects" class="btn btn-fill btn-owl"  href={{ path('adminProspect')}}>
                    Prospects
                </a>
            </div>

            <div class="col-md-3 text-center">
                <a aria-label="Atteindre la page gestion articles" class="btn btn-fill btn-owl" href={{ path('adminArticle')}}>
                    Articles
                </a>
            </div>

            <div class="col-md-3 text-center">
                <a  aria-label="Atteindre la page création utilisateurs" class="btn btn-fill btn-owl" href={{ path('registrationUser')}}>
                    Utilisateur +
                </a>
            </div>

                <div class="col-md-3 text-center">
                    <a  aria-label="Atteindre la page création utilisateurs" class="btn btn-fill btn-owl" href={{ path('logout')}}>
                        Déconnexion
                    </a>
                </div>

            </div>
        </div>
    </div>
{% endblock %}


    {% block javascripts %}

        {{ parent() }}

        <script src="{{ asset('assets/js/articleAdmin.js') }}"></script>

        <script>
            var thisId ="";
            var nextAction="";
            var nextActionText="";
            var nextActionInfo="";
            var nextActionDate="";
            var nextActionId="";
            var lastActionInfo="";
            // var nextActionDate="";
            var lastActionId="";
            var lastAction ="";
            var lastActionText = "";

            function dateFormat(dateObject) {
                var d = new Date(dateObject);
                var day = d.getDate();
                var month = d.getMonth() + 1;
                var year = d.getFullYear();
                if (day < 10) {
                    day = "0" + day;
                }
                if (month < 10) {
                    month = "0" + month;
                }
                var date = day + "/" + month + "/" + year;

                return date;
            };

            date = new Date();
            date = dateFormat(date);

            $(".showProspect2").on("click", function(){
                thisId = $(this).parent().parent().attr("id");
                $(".divProspect2."+thisId).toggleClass("hidden");
                console.log("ceci est le thisId du showprospect2 "+thisId);

            });


            $(".lastActionBtn").on("click", function(){
                thisId = $(this).parent().parent().parent().parent().parent().attr("id");
                lastAction = $(this).prev().prev();

                lastActionId = lastAction.val();
                lastActionText = lastAction.find('option:selected').text();
                lastActionInfo = $(this).prev().val();

                prospectInfo = $(this).parent().parent().parent().parent().find(".prospectInfo");

                newP = document.createElement("p");
                newText = document.createTextNode(date+" - "+lastActionText+" - Note : "+lastActionInfo);
                newP.appendChild(newText);
                prospectInfo.prepend(newP);

                lastActionSave(thisId, lastActionId, lastActionInfo);

            });

            $(".nextActionBtn").on("click", function(){
                thisId = $(this).parent().parent().parent().parent().attr("id");


                // thisId = $(this).parent().parent().parent().parent().parent().attr("id");
                nextAction = $(this).prev().prev();

                nextActionId = nextAction.val();
                nextActionText = nextAction.find('option:selected').text();
                nextActionInfo = $(this).prev().val();
                nextActionDate = dateFormat($(this).prev().prev().prev().children().val());


                console.log(thisId);
                prospectInfo = $(this).parent().parent().parent().parent().find(".prospectInfo");
                nextFullActionDate = $(".nextActionDate."+thisId).val();
                nextActionP = $(".nextActionP."+thisId);
                nextActionP.empty();
                newText = document.createTextNode("Prochaine action : "+nextActionText+", le "+nextActionDate+" (demandeur : commercial)");
                nextActionP.prepend(newText);

                newP2 = document.createElement("p");
                newText2 = document.createTextNode(date+" - "+nextActionText+", le "+nextActionDate+" - Note : "+nextActionInfo);
                newP2.appendChild(newText2);
                prospectInfo.prepend(newP2);

                nextActionSave(thisId, nextActionId, nextActionDate, nextActionInfo);


            });


            function nextActionSave(prospectId, nextActionId, nextFullActionDate, nextActionArea) {

                console.log("essai sauve");

                // Déclenchement du controleur de validation/invalidation de l'organisme

                $.ajax({
                    url: "nextActionSave",
                    type: "POST",
                    data:
                        {
                            prospectId: prospectId,
                            nextActionId: nextActionId,
                            nextFullActionDate: nextFullActionDate,
                            nextActionArea: nextActionArea


                        },
                    dataType: 'json',

                    success: function (data) {
                        console.log("prospectId : "+prospectId);
                            console.log("nextActionId : "+nextActionId);
                            console.log ("nextFullActionDate : "+nextFullActionDate);
                            console.log ("nextActionArea : "+nextActionArea);

                            console.log(data);

                    },

                    error: function () {
                        console.log("prospectId : "+prospectId);
                        console.log("nextActionId : "+nextActionId);
                        console.log ("nextFullActionDate : "+nextFullActionDate);
                        console.log ("nextActionArea : "+nextActionArea);
                        console.log("retour :"+data);

                    }

                })
            }

            function lastActionSave(prospectId, lastActionId, lastActionArea) {

                console.log("coucou");


                // Déclenchement du controleur de validation/invalidation de l'organisme

                $.ajax({
                    url: "lastActionSave",
                    type: "POST",
                    data:
                        {
                            prospectId: prospectId,
                            lastActionId: lastActionId,
                            lastActionArea: lastActionArea
                        },
                    dataType: 'json',

                    success: function (data) {
                        console.log("retour :"+data);

                            console.log("prospectId: "+prospectId);
                        console.log("lastActionId: "+lastActionId);
                        console.log("lastActionArea: "+lastActionArea);

                    },

                    error: function () {
                        console.log("prospectId: "+prospectId);
                        console.log("lastActionId: "+lastActionId);
                        console.log("lastActionArea: "+lastActionArea);
                        console.log("C'est raté !");

                    }

                })
            }



        </script>

    {% endblock %}
