

{#----------------------------- Page formulaire d'ajout d'un organisme ---------------------------#}


{% extends 'base2.html.twig' %}

{% block content %}


    <div class = "whiteBlock" style="padding-top:70px;background-color:#ffbb00;">
        <div class="container">
    <div class = "col-lg-10 col-lg-offset-1">

        <div class="prospectTitle">

            <h1>Suivi des prospects</h1>

        </div>




        {#{{ dump(data) }}#}


        {% for prospect in prospects %}

            {% set prospectId = "id" ~ prospect.id %}

            {#{{ dump(prospect.prospectInformation) }}#}
                <div class="prospectText" id={{ prospectId }}>

                    <div class="divProspect1 {{ prospectId }}">

                <p>

                {% if prospect.prospectInformation %}
                    {% if prospect.prospectInformation.company %}
                        Société : <span class="cieName">{{ prospect.prospectInformation.company }}</span>
                    {% endif %}

                {% elseif prospect.name  %}
                    Nom :  <span class="cieName">{{ prospect.name }}</span>
                {% endif %}


                {% if prospect.prospectInformation %}
                    {% if prospect.prospectInformation.respName %}
                        - Nom du responsable : <span class="cieText">
                        {% if prospect.prospectInformation.respCivility == 0 %}
                            M.
                        {% else %}
                            Mme
                        {% endif %}
                        {{ prospect.prospectInformation.respName }}</span>
                    {% endif %}

                {% endif %}
                 </p>

                    <p>
                    {% if prospect.email %}
                        Email :  <span class="cieText">{{ prospect.email }}</span>
                    {% endif %}

                    {% if prospect.email and prospect.phone%}
                         -
                            {% endif %}


                        {% if prospect.phone %}
                            Téléphone :  <span class="cieText">{{ prospect.phone }}</span>
                    {% endif %}
                        </p>

                    {% if prospect.nextAction %}
                        <p class="nextActionP {{ prospectId }}">Prochaine action :  <span class="cieText">{{ prospect.nextAction.action }}</span>, le <span class="cieText">{{ prospect.nextActionDate|date('d/m/Y') }}
                                </span>(demandeur :

                            {% if prospect.applicant == 0 %}
                                client
                            {% elseif prospect.applicant == 1 %}
                                commercial
                            {% else %}
                                automatique
                            {% endif %}
                            )</p>
                    {% endif %}

                        <button class="showProspect2 btn btp-primary">Afficher détail</button>

                </div>



                    <div class="divProspect2 hidden {{ prospectId }}">


                    {% if prospect.prospectInformation %}

                        {% if prospect.prospectInformation.siret %}
                            <p>Siret : <span class="cieText">{{ prospect.prospectInformation.siret }}</p>
                        {% endif %}

                        {% if prospect.prospectInformation.activity %}
                            <p>Domaine d'activité : <span class="cieText">{{ prospect.prospectInformation.activity }}</p>
                        {% endif %}

                        {% if prospect.prospectInformation.locality %}
                            <p>Adresse : <span class="cieText">{{ prospect.prospectInformation.route }} -
                                    {{ prospect.prospectInformation.postalCode }} {{ prospect.prospectInformation.locality }}</span> </p>
                        {% endif %}

                    {% endif %}

                        {% if prospect.information %}
                            <p>Informations du client :</p><div class="cieText prospectInfo">{{ prospect.information|raw }}</div>
                        {% endif %}

                    {#{% if prospect.lastAction %}#}
                    {#<p>Dernière action : <span class="cieText">{{ prospect.lastAction.action }} - le {{ prospect.lastActionDate|date('d/m/Y') }}</p>#}
                    {#{% endif %}#}

                        <div class = "prospectFollowUp">
                            <fieldset class="inline-form scheduler-border">
                                <legend class="scheduler-border">Actions effectuées ce jour</legend>
                            {#<select id="lastActionSelect">#}
                            <form>
                                {#<p>Actions effectuées ce jour :</p>#}
                                <select class = "lastActionSelect form-control {{ prospectId }}">
                                    <option value=""></option>
                                    <option value="7">Message laissé</option>
                                    <option value="6">Client eu au téléphone</option>
                                    <option value="8">Mail envoyé</option>
                                    <option value="9">Devis envoyé</option>
                                    <option value="10">Non intéressé</option>
                                    <option value="30">Autre</option>

                                </select>
                                {#<input type= "radio" name="lastActionOption" id="message"  value="7">#}
                                {#<label for="message">Message Laissé</label>#}
                                {#<input type= "radio" name="lastActionOption" id="mail"   value=8>#}
                                {#<label for="mail">Mail envoyé</label>#}

                                {#<input type= "radio" name="lastActionOption" id="devis"    value=9>#}
                                {#<label for="devis">Devis envoyé</label>#}
                                {#<input type= "radio" name="lastActionOption" id="non"    value=10>#}
                                {#<label for="non">Non intéressé</label>#}
                                <textarea class="form-control lastActionArea {{ prospectId }}"  style="margin:20px 0; height:70px;" placeholder="Observations"></textarea>
                                {#<button class="btn btn-primary lastActionBtn">Mettre à jour</button>#}
                                <a class="btn btn-primary lastActionBtn">Mettre à jour</a>

                            </form>
                            </fieldset>
                            {#<option value="">Dernière action</option>#}
                                {#<option value="6">Eu au téléphone</option>#}
                                {#<option value="7">Message laissé</option>#}
                                {#<option value="8">Mail envoyé</option>#}
                                {#<option value="9">Devis envoyé</option>#}
                                {#<option value="10">Non intéressé</option>#}
                            {#</select>#}
                        </div>
                        <div class = "prospectFollowUp">

                            <fieldset class="inline-form scheduler-border">
                                <legend class="scheduler-border">Prochaines actions</legend>

                                {#<p>Prochaine action à effectuer :</p>#}

                            <p>Date de l'action : <input class="inputDate nextActionDate {{ prospectId }}" type="date" name="nextActionDate"></p>

                            <select class = "nextActionSelect form-control {{ prospectId }}">
                                <option value=""></option>
                                <option value="4">Rappeler</option>
                                <option value="5">Envoyer un devis</option>
                                <option value="6">Envoyer un mail</option>
                                <option value="9">Autre</option>
                            </select>

                                {#<input type= "radio" name="nextActionOption" class="nextActionOption" value="4"> <span>Rappeler</span>#}
                                {#<input type= "radio" name="nextActionOption" class="nextActionOption" value="5"> <span>Envoyer un devis</span>#}
                                {#<input type= "radio" name="nextActionOption" class="nextActionOption" value="6"> <span>Envoyer un mail</span>#}
                                {#<input type= "radio" name="nextActionOption" class="nextActionOption" value="9"> <span>Autre</span>#}

                            <textarea class="form-control nextActionArea  {{ prospectId }}" style="margin:20px 0; height:70px;" placeholder="Observations"></textarea>
                                <button class="btn btn-primary nextActionBtn">Mettre à jour</button>
                            </select>

                        </fieldset>

                        </div>

                    </div>


                </div>


        {% endfor %}
    </div>
    </div>
    </div>

{% endblock %}


    {% block javascripts %}

        {{ parent() }}

        <script src="{{ asset('assets/js/articleAdmin.js') }}"></script>

        <script>
            var thisId ="";
            var nextActionInfo="";
            var nextActionDate="";
            var nextActionId="";
            var lastActionInfo="";
            // var nextActionDate="";
            var lastActionId="";

            function dateFormat(dateObject) {
                var d = new Date(dateObject);
                var day = d.getDate();
                var month = d.getMonth() + 1;
                var year = d.getFullYear();
                if (day < 10) {
                    day = "0" + day;
                }
                if (month < 10) {
                    month = "0" + month;
                }
                var date = day + "/" + month + "/" + year;

                return date;
            };

            date = new Date();
            date = dateFormat(date);

            $(".showProspect2").on("click", function(){
                var thisId = $(this).parent().parent().attr("id");
                $(".divProspect2."+thisId).toggleClass("hidden");

            });

            $(".lastActionBtn").on("click", function(){
                var thisId = $(this).parent().parent().parent().parent().parent().attr("id");
                console.log(thisId);
                lastActionText = $(".lastActionSelect."+thisId).find('option:selected').text();
                lastActionVal = $(".lastActionSelect."+thisId).val();



                lastActionInfo = $(".lastActionArea."+thisId).val();
                prospectInfo = $(this).parent().parent().parent().parent().find(".prospectInfo");

                newP = document.createElement("p");
                newText = document.createTextNode(date+" - "+lastActionText+" - Note : "+lastActionInfo);
                newP.appendChild(newText);
                prospectInfo.prepend(newP);

                lastActionId = $(".lastActionSelect").val();
                console.log("essai : "+lastActionId);
                lastActionSave(thisId, lastActionId, lastActionInfo);

            });

            $(".nextActionBtn").on("click", function(){
                thisId = $(this).parent().parent().parent().parent().attr("id");
                console.log(thisId);
                prospectInfo = $(this).parent().parent().parent().parent().find(".prospectInfo");
                nextActionText = $(".nextActionSelect."+thisId).find('option:selected').text();
                nextActionInfo = $(".nextActionArea."+thisId).val();
                nextActionDate = dateFormat($(".nextActionDate."+thisId).val());
                nextFullActionDate = $(".nextActionDate."+thisId).val();
                nextActionP = $(".nextActionP."+thisId);
                nextActionP.empty();
                newText = document.createTextNode("Prochaine action : "+nextActionText+", le "+nextActionDate+" (demandeur : commercial)");
                nextActionP.prepend(newText);

                nextActionId = $(".nextActionSelect").val();
                console.log("ceci est le nextactionId "+nextActionId);

                newP2 = document.createElement("p");
                newText2 = document.createTextNode(date+" - "+nextActionText+", le "+nextActionDate+" - Note : "+nextActionInfo);
                newP2.appendChild(newText2);
                prospectInfo.prepend(newP2);

                nextActionSave(thisId, nextActionId, nextActionDate, nextActionInfo);


            });


            function nextActionSave(prospectId, nextActionId, nextFullActionDate, nextActionArea) {

                console.log("essai sauve");

                // Déclenchement du controleur de validation/invalidation de l'organisme

                $.ajax({
                    url: "nextActionSave",
                    type: "POST",
                    data:
                        {
                            prospectId: prospectId,
                            nextActionId: nextActionId,
                            nextFullActionDate: nextFullActionDate,
                            nextActionArea: nextActionArea


                        },
                    dataType: 'json',

                    success: function (data) {
                        console.log("prospectId : "+prospectId);
                            console.log("nextActionId : "+nextActionId);
                            console.log ("nextFullActionDate : "+nextFullActionDate);
                            console.log ("nextActionArea : "+nextActionArea);

                            console.log(data);

                    },

                    error: function () {
                        console.log("prospectId : "+prospectId);
                        console.log("nextActionId : "+nextActionId);
                        console.log ("nextFullActionDate : "+nextFullActionDate);
                        console.log ("nextActionArea : "+nextActionArea);
                        console.log("retour :"+data);

                    }

                })
            }

            function lastActionSave(prospectId, lastActionId, lastActionArea) {

                // console.log("essai sauve");


                // Déclenchement du controleur de validation/invalidation de l'organisme

                $.ajax({
                    url: "lastActionSave",
                    type: "POST",
                    data:
                        {
                            prospectId: prospectId,
                            lastActionId: lastActionId,
                            lastActionArea: lastActionArea
                        },
                    dataType: 'json',

                    success: function (data) {
                        console.log("retour :"+data);

                            console.log("prospectId: "+prospectId);
                        console.log("lastActionId: "+lastActionId);
                        console.log("lastActionArea: "+lastActionArea);

                    },

                    error: function () {
                        console.log("prospectId: "+prospectId);
                        console.log("lastActionId: "+lastActionId);
                        console.log("lastActionArea: "+lastActionArea);
                        console.log("C'est raté !");

                    }

                })
            }



        </script>

    {% endblock %}
