<!DOCTYPE html>

<html lang="fr">


<head>
    <meta charset="UTF-8">


    <title>{% block title %}Le hibou qui geek{% endblock %}</title>

    {% block stylesheets2 %}
        <meta name="description" content ="L’Agence Le Hibou qui Geek est une agence digitale spécialisée dans l’accessibilité. Elle propose la création et l’optimisation de sites vitrine ou e-commerce, la construction de votre stratégie Webmarketing, ou encore, le développement d’une identité visuelle. ">
    {% endblock %}
    {% block stylesheets %}
        <meta charset="utf-8" />
        <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
        <link rel="icon" type="image/png" sizes="96x96" href="../assets/img/favicon.png">
        <link rel="canonical" href="http://www.hibou.helvie.fr">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link rel="icon" href="assets/img/logo.ico" />
        <link href="../assets/css/fonts/pe-icon-7-stroke.css" rel="stylesheet">
        <link href="https://fr.snatchbot.me/sdk/webchat.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
        <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/bmatznerfontawesome/css/font-awesome.min.css') }}" />
        <link href="{{ asset('assets/pe-icon-7-stroke.css') }}" rel="stylesheet" />
        <link href="{{ asset('assets/css/gaia.css') }}" rel="stylesheet" />

        <link href="{{ asset('assets/css/material-dashboard.css') }}" rel="stylesheet" />
        <link href="{{ asset('assets/css/menu.css') }}" rel="stylesheet" />
        <link href="{{ asset('assets/css/anim.css') }}" rel="stylesheet" />
        <link href="{{ asset('assets/css/owl.css') }}" rel="stylesheet" />

        <link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.0-rc.2/dist/leaflet.css" />

    {% endblock %}


</head>

<body>

        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N9224JP"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->


        {% block cookie %}
        {% endblock %}
    {% block sidebar %}

        <div class="menuCircle">
            <div class="hamburger">
                <span></span>
            </div>

            <div class="owlMenu">
                <ul>
                    <li><a aria-label="Lien vers page d'accueil" href={{ path('index') }}>Accueil</a></li>
                    <li><a href={{ path('owlAgencyDisplay') }}>Notre agence</a></li>
                    <li><a href={{ path('owlServicesDisplay') }}>Nos services</a></li>
                    <li><a href={{ path('owlReferencesDisplay') }}>Nos références</a></li>
                    <li><a href={{ path('owlContactDisplay') }}>Nous contacter</a></li>
                    <li><a href={{ path('owlBlogDisplay') }}>Blog</a></li>

                </ul>
            </div>

        </div>



                </div>
            </div>
        </div>

    {% endblock %}

    {% block logo %}

    <div class="headSection">

        <div>
                <div class="content" style="text-align:left; margin-left:50px;">

                    <div class="logoOwl">
                        <a  href={{ path('index') }}><img alt="Logo hibou lien retour accueil" src="../assets/img/logoBlack.png" style="z-index:1;position:absolute;"/></a>
                    </div>

                </div>
            </div>
    </div>
    {% endblock %}



<div class="content">

        {% block content %}

        {% endblock %}
</div>


<div style="clear:both">

    {% block footer %}

        <footer class="footer greyBlock">
                    <div class="col-md-9 col-sm-9 col-xs-12" style="text-align:left;">
                        <li><a style=margin-right:10px;" href={{ path('cgv') }}>CGV</a></li>
                        <li><a style=margin-right:10px;" href={{ path('legalNotice') }}>Mentions légales et données personnelles</a></li>
                        <li><a class="glyphicon glyphicon-cog" style="color:#bbb;" href={{ path('adminSpace') }}></a></li>
                    </div>

                    <div class="col-md-3 col-sm-3" style="text-align:right;">
                        <li><a style="color:#ffffff;">Le hibou qui geek 2018</a></li>
                    </div>

        </footer>

    {% endblock %}
</div>





{% block javascripts %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="{{ asset('assets/js/anim.js') }}"></script>
    <script src="https://fr.snatchbot.me/sdk/webchat.min.js"></script>
    <script> Init('?botID=40156&appID=webchat', 400, 500, 'https://dvgpba5hywmpo.cloudfront.net/media/image/aLeBphVKQdnpUFR6aR5Mv9MRn', 'bubble', '#113441', 90, 90, 62.99999999999999, '', '1', '#FFFFFF', '#FFFFFF', 0); /* for authentication of its users, you can define your userID (add &userID={login}) */ </script>

    <!-- Load the JavaScript API client and Sign-in library. -->
    <script src="https://apis.google.com/js/client:platform.js"></script>
    <script src="https://www.google-analytics.com/analytics.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131485415-2"></script>

    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-131485415-2');
    </script>

    <!-- Google Analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-XXXXX-Y', 'auto');
        ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->

    <!-- Google Tag Manager -->
    <script>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-N9224JP');
    <!-- End Google Tag Manager -->

    //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Récupération d'un paramètre dans l'URL ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


    function getUrlParameter(sParam) {
    var sPageURL = decodeURIComponent(window.location.search.substring(1)),
    sURLVariables = sPageURL.split('&'),
    sParameterName,
    i;

    for (i = 0; i < sURLVariables.length; i++) {
    sParameterName = sURLVariables[i].split('=');

    if (sParameterName[0] === sParam) {
    return sParameterName[1] === undefined ? true : sParameterName[1];
    }
    }
    };
</script>

    {#<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>#}
    {#<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>#}
    {#<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>#}
    {#<script src="https://cdn.ckeditor.com/ckeditor5/1...nt/ckeditor.js"></script>#}
    {#<script src="[ckeditor-build-path]/ckeditor.js"></script>#}
    {#<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>#}
    <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
    {#<script src="../../assets/js/plugins/bootstrap-selectpicker.js"></script>#}
    <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
    {#<script src="../../assets/js/plugins/bootstrap-datetimepicker.min.js"></script>#}
    {#<script src="../../assets/js/plugins/moment.min.js"></script>#}


{% endblock %}

</body>

</html>
