


<!DOCTYPE html>

<html lang="fr">

<head>

    <meta charset="UTF-8">
    <title>Vous avez une nouvelle demande de devis</title>

</head>

<body>

    <h1 style="margin-bottom:50px;">Vous avez une nouvelle demande de devis</h1>

    <h2>Données de l'organisme :</h2>

    <p style="font-size:18px; color:#888; font-weight:bold">Société</p>
    <p style="margin-bottom:50px;font-size:18px; ">{{ company }}</p>

    <p style="color:#888;font-size:18px;  font-weight:bold">Nom</p>
    <p style="margin-bottom:50px;font-size:18px; ">{{ name }}</p>

    <p style="color:#888;font-size:18px;  font-weight:bold">Email</p>
    <p style="margin-bottom:50px;font-size:18px; ">{{ email }}</p>

    <p style="color:#888;font-size:18px;  font-weight:bold">Téléphone</p>
    <p style="margin-bottom:50px;font-size:18px; ">{{ phone }}</p>

    <p style="color:#888;font-size:18px;  font-weight:bold">Numéro de siret</p>
    <p style="margin-bottom:50px;font-size:18px; ">{{ siret }}</p>

    <p style="color:#888;font-size:18px;  font-weight:bold">Domaine d'activité</p>
    <p style="margin-bottom:50px;font-size:18px; ">{{ activity }}</p>

    <p style="color:#888;font-size:18px;  font-weight:bold">Adresse</p>
    <p style="margin-bottom:50px;font-size:18px; ">{{ address }}</p>

    <p style="color:#888; font-weight:bold">Message</p>
    <p style="margin-bottom:50px;font-size:18px;">{{ message }}</p>




</body>

</html>
