{% extends 'base.html.twig' %}


    {% block logo %}

        <div class="headSection blueBlockHead">

                <div class="content blueBlock">

                    <div class="blueHeadImg">
                        <img alt="..." src="../assets/img/logoBleu.png"/>
                    </div>

                </div>

        </div>
    {% endblock %}

    {% block content %}

        {% set art = app.request.query.get("art") %}

        {% set artArray = articles[3] %}

        {% set thisArt = ""  %}

        {% for singleArt in artArray  %}
            {% if singleArt.id == art %}
                {% set thisArt = singleArt %}
            {% endif %}
        {% endfor %}

        <div class="section blueBlock section-our-team">

            <div class="container">

                <h1>{{ thisArt.title }}</h1>

            </div>

        </div>

        <div class="section blueBlock section-our-team" style="padding-bottom:0;">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-9 whiteBlock blogResume">
                        {{ thisArt.text|raw }}
                    </div>

                    <div class="col-md-3 blueBlock">
                        <div class="articleAvatar">

                            <div class="content">

                                <div class="avatar avatar-danger">
                                    <img alt="..." class="img-circle" src="{{ asset('assets/img/persons/'~thisArt.authorImage|e) }}" />
                                </div>

                                <div class="description">
                                    <h3 class="big-text">{{ thisArt.author }}</h3>
                                    <p class="small-text">{{ thisArt.role }}</p>
                                    <p class="small-text">
                                    {% for tag in thisArt.categories %}
                                        {{ tag.name }}
                                    {% endfor %}
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
        {#</div>#}
</div>
        <div class="whiteBlock networksIconBlock">

            <div class="col-md-4 col-md-offset-4 text-center networksIconDiv">

            <h2 style="padding-bottom:30px;">Partager cet article</h2>

                <div class="col-md-3 text-center"> <img alt="..." src="../assets/img/facebookBlue.png" style="width:50px;height:50px"/></div>
                <div class="col-md-3 text-center"> <img alt="..." src="../assets/img/instaBlue.png" style="width:50px;height:50px"/></div>
                <div class="col-md-3 text-center"> <img alt="..." src="../assets/img/twitterBlue.png" style="width:50px;height:50px"/></div>
                <div class="col-md-3 text-center"> <img alt="..." src="../assets/img/linkedinBlue.png" style="width:50px;height:50px"/></div>

                {#</div>#}



                {#</div>#}

            </div>


            <div class="col-md-12 text-center">
                <div class="col-md-4 col-md-offset-4 text-center" >
                <div style="height:170px;padding:60px;" >
                    <div style="float:left;">
                        <button type="button" class="btn btn-fill btn-owl">
                            Subscribe
                        </button>
                    </div>
                    <div style="float:right">
                        <button type="button" class="btn btn-fill btn-owl">
                            Subscribe
                        </button>
                    </div>
                    <div style="float:none;clear:both;">
                    </div>
                </div>
                </div>
            </div>

        </div>

<div class="yellowBlock blogArticles">
{#<div class="section">#}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                {% for article in articles[0] %}
                    <div class="card card-blog card-plain">
                        <a class="header" href={{ path('owlBlogDisplay',{'art': article.id})}}>
                        <img src="{{ asset('assets/img/persons/'~article.articleImage|e) }}" class="image-header">
                        </a>

                        <div class="blogTitleText">

                            <p>{{ article.date|date("m/d/Y") }}</p>

                            <a class="card-title" href={{ path('owlBlogDisplay',{'art': article.id})}}>

                                <h2>{{ article.title }}</h2>

                            </a>

                            <div class="line-divider line-danger"></div>
                            <p>
                            {% for tag in article.categories %}
                                {{ tag.name }}
                            {% endfor %}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-4">
                {% for article in articles[1] %}
                    <div class="card card-blog card-plain">
                        <a class="header" href={{ path('owlBlogDisplay',{'art': article.id})}}>
                            <img src="{{ asset('assets/img/persons/'~article.articleImage|e) }}" class="image-header">
                        </a>

                        <div class="blogTitleText">

                            <p>{{ article.date|date("m/d/Y") }}</p>

                            <a class="card-title" href={{ path('owlBlogDisplay',{'art': article.id})}}>

                                <h2>{{ article.title }}</h2>

                            </a>

                            <div class="line-divider line-danger"></div>
                            <p>
                                {% for tag in article.categories %}
                                    {{ tag.name }}
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-4">
                {% for article in articles[2] %}
                    <div class="card card-blog card-plain">
                        <a class="header" href={{ path('owlBlogDisplay',{'art': article.id})}}>
                            <img src="{{ asset('assets/img/persons/'~article.articleImage|e) }}" class="image-header">
                        </a>

                        <div class="blogTitleText">

                            <p>{{ article.date|date("m/d/Y") }}</p>

                            <a class="card-title" href={{ path('owlBlogDisplay',{'art': article.id})}}>

                                <h2>{{ article.title }}</h2>

                            </a>

                            <div class="line-divider line-danger"></div>
                            <p>
                                {% for tag in article.categories %}
                                    {{ tag.name }}
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>




    {% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script src="assets/js/plugins/bootstrap-selectpicker.js" ></script>

{% endblock %}
