{% extends 'base.html.twig' %}

    {% block stylesheets %}
        {{ parent() }}
        <style>
            body
            {background-color:#113441;}
            .headSection
            {background-color:#113441;}
        </style>
    {% endblock %}

    {% block logo %}

        <div class="headSection">

                <div class="content blueBlock">

                    <div class="blueHeadImg logoOwl">
                        <a  href={{ path('index') }}>
                            <img href={{ path('index') }} alt="..." src="../assets/img/logoWhite.png" style="z-index:1;position:absolute;"/>
                        </a>
                    </div>

                </div>

        </div>
    {% endblock %}

    {% block content %}

        {% if app.request.query.get("art") %}
            {% set art = app.request.query.get("art") %}
        {% else %}
            {% set art = latestArticleId %}
        {% endif %}


        {% set artArray = articles[3] %}

        {% set thisArt = ""  %}

        {% for singleArt in artArray  %}
            {% if singleArt.id == art %}
                {% set thisArt = singleArt %}
            {% endif %}
        {% endfor %}

        <div class="section blueBlock section-our-team">

            <div class="container">

                <h1>{{ thisArt.title }}</h1>

            </div>

        </div>

        <div class="section blueBlock section-our-team oneArticle" style="padding-bottom:0;">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-9 whiteBlock blogResume" style="text-align:justify">
                        {{ thisArt.text|raw }}
                    </div>

                    <div class="col-md-3 blueBlock">
                        <div class="articleAvatar">

                            <div class="content">

                                <div class="avatar avatar-danger">
                                    <img alt="..." class="img-circle" src="{{ asset('assets/img/persons/'~thisArt.authorImage|e) }}" />
                                </div>

                                <div class="description">
                                    <h3 class="big-text">{{ thisArt.author }}</h3>
                                    <p class="small-text" style="text-align:center;">{{ thisArt.role }}</p>
                                    <p class="small-text" style="text-align:center;">
                                    {% for tag in thisArt.categories %}
                                        {{ tag.name }}
                                    {% endfor %}
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
        {#</div>#}
</div>
        <div class="whiteBlock networksIconBlock">
            <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-10 col-xs-offset-1 text-center networksIconDiv">

            <h2 style="padding-bottom:30px;">Partager cet article</h2>

                <div class="col-md-3 col-sm-3 col-xs-3 col-3 socialImg" style="text-align:center"> <img alt="..." src="../assets/img/facebookBlue.png"/></div>
                <div class="col-md-3 col-sm-3 col-xs-3 col-3 socialImg" style="text-align:center"> <img alt="..." src="../assets/img/instaBlue.png"/></div>
                <div class="col-md-3 col-sm-3 col-xs-3 col-3 socialImg" style="text-align:center"> <img alt="..." src="../assets/img/twitterBlue.png"/></div>
                <div class="col-md-3 col-sm-3 col-xs-3 col-3 socialImg" style="text-align:center"> <img alt="..." src="../assets/img/linkedinBlue.png"/></div>

                {#</div>#}



                {#</div>#}

            </div>
        </div>

            <div class="row">

            <div class="col-md-8 col-md-offset-2 text-center" style="min-height:60px;padding-top:50px;">
                <div class="col-md-6 text-center">
                    <a class="btn btn-fill btn-owl"  href={{ path('owlReferencesDisplay')}}>
                        Découvrez nos références
                    </a>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-fill btn-owl" href={{ path('owlContactDisplay')}}>
                        Contactez-nous
                    </a>
                </div>
            </div>
            </div>
            {#<div class="col-md-12 text-center">#}
                {#<div class="col-md-4 col-md-offset-4 text-center" >#}
                {#<div style="height:170px;padding:60px;" >#}
                    {#<div style="float:left;">#}
                        {#<button type="button" class="btn btn-fill btn-owl">#}
                            {#Subscribe#}
                        {#</button>#}
                    {#</div>#}
                    {#<div style="float:right">#}
                        {#<button type="button" class="btn btn-fill btn-owl">#}
                            {#Subscribe#}
                        {#</button>#}
                    {#</div>#}
                    {#<div style="float:none;clear:both;">#}
                    {#</div>#}
                {#</div>#}
                {#</div>#}
            {#</div>#}

        </div>

<div class="yellowBlock blogArticles">
{#<div class="section">#}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                {% for article in articles[0] %}
                    <div class="card card-blog card-plain">

                        <a class="header" href={{ path('owlBlogDisplay',{'art': article.id})}}>
                        <img src="{{ asset('assets/img/persons/'~article.articleImage|e) }}" class="image-header">
                        </a>

                        <div class="blogTitleText">

                            <p>{{ article.date|date("m/d/Y") }}</p>

                            <a class="card-title" href={{ path('owlBlogDisplay',{'art': article.id})}}>

                                <h2>{{ article.title }}</h2>

                            </a>

                            {#<div class="line-divider line-danger"></div>#}
                            <p>
                            {% for tag in article.categories %}
                                {{ tag.name }}
                            {% endfor %}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-4">
                {% for article in articles[1] %}
                    <div class="card card-blog card-plain">
                        <a class="header" href={{ path('owlBlogDisplay',{'art': article.id})}}>
                            <img src="{{ asset('assets/img/persons/'~article.articleImage|e) }}" class="image-header">
                        </a>

                        <div class="blogTitleText">

                            <p>{{ article.date|date("m/d/Y") }}</p>

                            <a class="card-title" href={{ path('owlBlogDisplay',{'art': article.id})}}>

                                <h2>{{ article.title }}</h2>

                            </a>

                            {#<div class="line-divider line-danger"></div>#}
                            <p>
                                {% for tag in article.categories %}
                                    {{ tag.name }}
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-4">
                {% for article in articles[2] %}
                    <div class="card card-blog card-plain">
                        <a class="header" href={{ path('owlBlogDisplay',{'art': article.id})}}>
                            <img src="{{ asset('assets/img/persons/'~article.articleImage|e) }}" class="image-header">
                        </a>

                        <div class="blogTitleText">

                            <p>{{ article.date|date("m/d/Y") }}</p>

                            <a class="card-title" href={{ path('owlBlogDisplay',{'art': article.id})}}>

                                <h2>{{ article.title }}</h2>

                            </a>

                            {#<div class="line-divider line-danger"></div>#}
                            <p>
                                {% for tag in article.categories %}
                                    {{ tag.name }}
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>




    {% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script src="assets/js/plugins/bootstrap-selectpicker.js" ></script>

{% endblock %}
