{% extends 'base.html.twig' %}

{% block title %}Le blog{% endblock %}

        {% if app.request.query.get("art") %}
            {% set art = app.request.query.get("art") %}
        {% else %}
            {% set art = latestArticleId %}
        {% endif %}


        {% set artArray = articles[3] %}

        {% set thisArt = ""  %}

        {% for singleArt in artArray  %}
            {% if singleArt.id == art %}
                {% set thisArt = singleArt %}
            {% endif %}
        {% endfor %}




    {% block stylesheets %}
        {{ parent() }}
        <style>
            body
            {background-color:#113441;}
            .headSection
            {background-color:#113441;}
        </style>

    {% endblock %}

    {% block logo %}

        <div class="headSection">

                <div class="content blueBlock">

                    <div class="blueHeadImg logoOwl">
                        <a  href={{ path('index') }}>
                            <img  alt="Logo hibou retour vers accueil" src="../assets/img/logoWhite.png" style="z-index:1;position:absolute;" href={{ path('index') }} />
                        </a>
                    </div>

                </div>

        </div>
    {% endblock %}

    {% block content %}





        <div class="section blueBlock section-our-team">

            <div class="container articleTitle">


                <h1>{{ thisArt.title }}</h1>

            </div>

        </div>

{#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ BLOC ARTICLE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}


        <div class="section blueBlock section-our-team oneArticle" style="padding-bottom:0;">

            <div class="row">
                <div class="col-md-12">

                        <div class="col-md-9 whiteBlock blogResume" style="text-align:justify">
                        {{ thisArt.text|raw }}
                    </div>

                    <div class="col-md-3 blueBlock">
                        <div class="articleAvatar">

                            <div class="content">

                                <div class="avatar avatar-danger">
                                    <img alt="Photo de l'auteur" class="img-circle" src="{{ asset('assets/img/persons/'~thisArt.authorImage|e) }}" />
                                </div>

                                <div class="description">
                                    <h3 class="big-text">{{ thisArt.author }}</h3>
                                    <p class="small-text" style="text-align:center;">{{ thisArt.role }}</p>
                                    <p class="small-text" style="text-align:center;">
                                    {% for tag in thisArt.categories %}
                                        {% if loop.index == 1 %}
                                        {{ tag.name }}
                                        {% endif %}
                                    {% endfor %}
                                        ♦
                                    {% for tag in thisArt.categories %}
                                        {% if loop.index == 2 %}
                                            {{ tag.name }}
                                        {% endif %}
                                    {% endfor %}
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
        {#</div>#}
</div>

{#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ BOUTONS RESEAUX SOCIAUX ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}

        <div class="whiteBlock networksIconBlock">

            <div class="row">
                <div class="networksIconDiv" style="text-align:center;">
                <h2 style="padding-bottom:30px;">Retrouvez tous nos articles</h2>

                <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-10 col-xs-offset-1 text-center">


                <div class="col-md-3 col-sm-3 col-xs-3 col-3 socialImg" style="text-align:center">
                    <a aria-label="Lien vers le facebook de l'agence" href="https://www.facebook.com/lehibou.quigeek">
                    <img alt="Logo Facebook" src="../assets/img/logoFacebook.png"/>
                    </a>
                </div>


                <div class="col-md-3 col-sm-3 col-xs-3 col-3 socialImg" style="text-align:center">
                    <a aria-label="Lien vers l'instagram de l'agence" href="https://www.instagram.com/hibouquigeek">
                    <img alt="Logo Instagram" src="../assets/img/logoInstagram.png"/>
                    </a>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-3 col-3 socialImg" style="text-align:center">
                    <a aria-label="Lien vers le twitter de l'agence" href="https://twitter.com/HibouQui">
                    <img alt="Logo Twitter" src="../assets/img/logoTwitter.png"/>
                    </a>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-3 col-3 socialImg" style="text-align:center">
                    <a  aria-label="Lien vers le linkedin de l'agence" href="https://www.linkedin.com/in/lehibou-quigeek-3a7402177/">
                    <img alt="..." src="../assets/img/logoLinkedin.png"/>
                    </a>
                </div>

            </div>
                </div>
        </div>

            <div class="row">

            <div class="col-md-8 col-md-offset-2 text-center" style="min-height:60px;padding-top:50px;">
                <div class="col-md-6 text-center">
                    <a  aria-label="Lien vers la page références de l'agence" class="btn btn-fill btn-owl"  href={{ path('owlReferencesDisplay')}}>
                        Découvrez nos références
                    </a>
                </div>
                <div class="col-md-6 text-center">
                    <a  aria-label="Lien vers la page contact de l'agence" class="btn btn-fill btn-owl" href={{ path('owlContactDisplay')}}>
                        Contactez-nous
                    </a>
                </div>
            </div>
            </div>

        </div>

{#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ BLOC TOUS LES ARTICLES ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}


<div class="yellowBlock blogArticles">
{#<div class="section">#}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                {% for article in articles[0] %}
                    <div class="card card-blog card-plain">

                        <a  aria-label="Lien vers la page de l'article" class="header" href={{ path('owlBlogDisplay',{'art': article.id})}}>
                        <img alt="" src="{{ asset('assets/img/persons/'~article.articleImage|e) }}" class="image-header">
                        </a>

                        <div class="blogTitleText">

                            <p>{{ article.date|date("m/d/Y") }}</p>

                            <a aria-label="Lien vers la page de l'article"  class="card-title" href={{ path('owlBlogDisplay',{'art': article.id})}}>

                                <h2>{{ article.title }}</h2>

                            </a>

                            {#<div class="line-divider line-danger"></div>#}
                            <p>
                            {% for tag in article.categories %}
                                {{ tag.name }}
                            {% endfor %}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-4">
                {% for article in articles[1] %}
                    <div class="card card-blog card-plain">
                        <a  aria-label="Lien vers la page de l'article" class="header" href={{ path('owlBlogDisplay',{'art': article.id})}}>
                            <img alt=""  src="{{ asset('assets/img/persons/'~article.articleImage|e) }}" class="image-header">
                        </a>

                        <div class="blogTitleText">

                            <p>{{ article.date|date("m/d/Y") }}</p>

                            <a  aria-label="Lien vers la page de l'article" class="card-title" href={{ path('owlBlogDisplay',{'art': article.id})}}>

                                <h2>{{ article.title }}</h2>

                            </a>

                            {#<div class="line-divider line-danger"></div>#}
                            <p>
                                {% for tag in article.categories %}
                                    {{ tag.name }}
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-4">
                {% for article in articles[2] %}
                    <div class="card card-blog card-plain">
                        <a aria-label="Lien vers la page de l'article" class="header" href={{ path('owlBlogDisplay',{'art': article.id})}}>
                            <img alt=""  src="{{ asset('assets/img/persons/'~article.articleImage|e) }}" class="image-header">
                        </a>

                        <div class="blogTitleText">

                            <p>{{ article.date|date("m/d/Y") }}</p>

                            <a  aria-label="Lien vers la page de l'article" class="card-title" href={{ path('owlBlogDisplay',{'art': article.id})}}>

                                <h2>{{ article.title }}</h2>

                            </a>

                            {#<div class="line-divider line-danger"></div>#}
                            <p>
                                {% for tag in article.categories %}
                                    {{ tag.name }}
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div id="fb-root"></div>


</div>

{#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ BLOC NEWSLETTER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}

        <div class="whiteBlock section" style="padding-top:50px;">
            <div class="container">
                <div class="title-area">
                    <h2>Recevez tous nos informations</h2>
                </div>

                <div class="container">
                    <div class="formBlock contactForm1">
                        <div class="col-lg-6 col-md-6 col-sm-8 col-xs-10 col-lg-offset-3 col-md-offset-3 col-sm-offset-2 col-xs-offset-1">
                            <div class="card1">

                                <div class="card1-header card1-header-rose card1-header-icon">
                                    <div class="card1-icon">
                                        <i class="material-icons" style="color:#113441">mail_outline</i>
                                    </div>
                                </div>

                                <div class="card1-body ">

                                    <div id="mc_embed_signup">

                                        <form action="https://helvie.us19.list-manage.com/subscribe/post?u=6ec326037cb371ea154dace87&amp;id=86e90caefa"
                                              method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class=" form-group validate" target="_blank" novalidate>
                                            <div id="mc_embed_signup_scroll">

                                                <div class="mc-field-group">
                                                    <label for="mce-FNAME">Nom </label>
                                                    <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME">
                                                </div>

                                                <div class="mc-field-group">
                                                    <label for="mce-EMAIL">Email<span class="asterisk">*</span>
                                                    </label>
                                                    <input  type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL">
                                                </div>

                                                <div id="mce-responses" class="clear">
                                                    <div class="response" id="mce-error-response" style="background-color:yellow;display:none"></div>
                                                    <div class="response" id="mce-success-response" style="display:none"></div>
                                                </div>

                                                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6ec326037cb371ea154dace87_86e90caefa" tabindex="-1" value=""></div>
                                                <div class="clear" style="display:none"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>

                                            </div>

                                        </form>
                                    </div>

                                    <div class="card1-footer ">
                                        <button aria-label="Validation inscription à la newsletter" id="falseButton" class="form-control btn btn-fill btn-rose">Je m'inscris</button>
                                    </div>


                                </div>



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    {% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script src="assets/js/plugins/bootstrap-selectpicker.js" ></script>
    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
    <script src="{{ asset('assets/js/Nl.js') }}"></script>


    {#<script>(function(d, s, id) {#}
            {#var js, fjs = d.getElementsByTagName(s)[0];#}
            {#if (d.getElementById(id)) return;#}
            {#js = d.createElement(s); js.id = id;#}
            {#js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";#}
            {#fjs.parentNode.insertBefore(js, fjs);#}
        {#}(document, 'script', 'facebook-jssdk'));</script>#}
    {#<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>#}



{% endblock %}
