{% extends 'base.html.twig' %}

{% block title %}Nous contacter{% endblock %}



    {% block stylesheets %}
        {{ parent() }}

        <style>

            /*.hamburger {*/
                /*z-index:81;*/
            /*}*/
            .contactForm1 {
                z-index:80;
            }
            .contactForm2 {
                z-index:80;
            }


            body
            {
                background-color:#113441;
            }
            .headSection
            {
                background-color:#113441;
            }
            </style>

    {% endblock %}


    {% block logo %}

        <div class="headSection";>

                {#<div class="container">#}
                <div class="content blueBlock">

                    <div class="blueHeadImg logoOwl">
                        <a href={{ path('index') }}>
                            <img alt="Logo hibou retour accueil" src="../assets/img/logoWhite.png" style="z-index:1;position:absolute;" href={{ path('index') }}/>
                        </a>
                    </div>

                </div>
            {#</div>#}
        </div>
    {% endblock %}

    {% block content %}



        <div class="section blueBlock section-our-team">
            {#<div class="container">#}
                {#<!--<div class="text-area">-->#}
                {#<h1>Contact et devis</h1>#}

                {#<div class="title-area">#}
                    {#<h2>Un projet ? Une question ?</h2>#}
                    {#<div class="separator separator-danger">♦</div>#}

                {#</div>#}
                {#<p class="description">#}
                    {#Si comme Mamie Jeannine, vos clients rêvent d’un web plus accessible. Si comme nous, vous souhaitez les 10% de personnes touchées par le handicap rejoignent la communauté des geekers. Si souhaitez augmenter votre référencement naturel, baisser votre taux de rebond et augmenter votre chiffre d’affaires, contactez-nous ! Une équipe d’expert vous attend. Ensemble, rendons possible votre projet.                </p>#}
            {#</div>#}
            <h1>Contact et devis</h1>
            <div class="title-area">
                <h2 style="margin-top:0; padding-top:35px;">Un projet ? Une question ?</h2>
                <div class="separator separator-danger">♦</div>
                <div class="description divDescription">
                    <p>
                        Si comme Mamie Jeannine, vos clients rêvent d’un web plus accessible. Si comme nous, vous souhaitez les 10% de personnes touchées par le handicap rejoignent la communauté des geekers. Si souhaitez augmenter votre référencement naturel, baisser votre taux de rebond et augmenter votre chiffre d’affaires, contactez-nous ! Une équipe d’experts vous attend. Ensemble, rendons possible votre projet !             </p>
                    </p>
                </div>
            </div>

            <div class="container networksIconBlock2">

                <div class="row">

                    <div class="col-md-4 col-md-offset-4 col-xs-12 text-center networksIconDiv" style="padding-top:0;">

                        <div class="row">
                            <div class="col-md-3 col-sm-3 col-xs-3 col-3 socialImg" style="text-align:center">
                                <a aria-label="Lien vers le facebook de l'agence" href="https://www.facebook.com/lehibou.quigeek">
                                <img alt="Logo Facebook" src="../assets/img/logoFacebookB.png"/>
                                </a>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 col-3 socialImg" style="text-align:center">
                                <a  aria-label="Lien vers l'instagram de l'agence" href="https://www.instagram.com/hibouquigeek">
                                <img alt="Logo Instagram" src="../assets/img/logoInstagramB.png"/>
                                </a>
                            </div>

                            <div class="col-md-3 col-sm-3 col-xs-3 col-3 socialImg" style="text-align:center">
                                <a  aria-label="Lien vers le twitter de l'agence" href="https://twitter.com/HibouQui">
                                <img alt="Logo Twitter" src="../assets/img/logoTwitterB.png"/>
                                </a>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 col-3 socialImg" style="text-align:center">
                                <a  aria-label="Lien vers le linkedin de l'agence" href="https://www.linkedin.com/in/lehibou-quigeek-3a7402177/">
                                <img alt="Logi Linkedin" src="../assets/img/logoLinkedinB.png"/>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-xs-12 text-center">
                        <div class="col-md-12 text-center" style="height:60px; margin-top:80px;">
                            <div>
                                <a  aria-label="Lien vers la demande de devis" class="btn btn-fill btn-owl"  href={{ path('owlContactDisplay')}}#quoteAnchor>
                                    Défiez-nous !
                                </a>

                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="container" style="text-align:center;margin-top:100px;">

                <h2>Nous contacter</h2>

            </div>


            {%  set today = 'now'|date('l')%}
            {%  set thisHour = 'now'|date_modify("+1 hour")|date('H')%}


            {% if today == "Monday" %}
                {%  set
                    todayList = [0,1,2,3,4,5,7]
                %}
            {% elseif today == "Tuesday" %}
                {% set
                    todayList = [0,1,2,3,4,6,7]
                %}
            {% elseif today == "Wednesday" %}
                {% set
                    todayList = [0,1,2,3,5,6,7]
                %}
            {% elseif today == "Thursday" %}
                {% set
                    todayList = [0,1,2,4,5,6,7]
                %}
            {% elseif today == "Friday" %}
                {% set
                    todayList = [0,1,3,4,5,6,7]
                %}
            {% elseif today == "Saturday" %}
                {% set
                    todayList = [0,2,3,4,5,6,7]
                %}
            {% elseif today == "Sunday" %}
                {% set
                    todayList = [1,2,3,4,5,6,7]
                %}
            {% endif %}
            {#{{ form_start(formContactDisplay, {'attr': {'class': 'form-group'}} ) }}#}
            {#{{ form_end(formContactDisplay) }}#}



            <div class="container">
                <div class="formBlock contactForm1" id="contactAnchor">
                    <div class="col-lg-6 col-md-6 col-sm-8 col-xs-10 col-lg-offset-3 col-md-offset-3 col-sm-offset-2 col-xs-offset-1">
                        <div class="card1">

                            <div class="card1-header card1-header-rose card1-header-icon">
                                <div class="card1-icon">
                                    <i class="material-icons" style="color:#113441">mail_outline</i>
                                </div>
                            </div>

                            <div class="card1-body ">

                                {{ form_start(formContactDisplay, {'attr': {'class': 'form-group'}} ) }}

                                <div>
                                    {{ form_widget(formContactDisplay.name, {'attr': {'required': true, 'class' : 'form-control'}}) }}
                                    {{ form_errors(formContactDisplay.name) }}
                                </div>

                                <div>
                                    {{ form_widget(formContactDisplay.email, {'attr': {'required': true, 'class' : 'form-control'}}) }}
                                    {{ form_errors(formContactDisplay.email) }}
                                </div>

                                <div>
                                    {{ form_widget(formContactDisplay.phone, {'attr': {'required': true, 'class' : 'form-control'}}) }}
                                    {{ form_errors(formContactDisplay.phone) }}
                                </div>

                                <div style = "background-color : #dddddd; padding: 20px 20px 0 20px;margin-bottom:20px;">

                                <div class="contactChoice" style="padding-top:15px;">

                                    <input type="radio" id="contactChoiceTel"
                                           name="contact" value="telephone" checked>
                                    <label for="contactChoiceTel">Téléphone</label>

                                    <input type="radio" id="contactChoiceMail"
                                           name="contact" value="email">
                                    <label for="contactChoiceMail">Email</label>

                                </div>

                                <div class="form-group contactSelect1">

                                    <select class="form-control menuSelect daysMenu"  id="formControlSelect1">

                                        <option value="" style="color:#ffbb00;" disabled selected>Jour où vous souhaitez être rappelé</option>


                                        {% for day in todayList %}

                                            {% if thisHour >=14 %}

                                                {% if not loop.first %}

                                                    <option class="option" value={{ day }}>{{ 'now'|date_modify("+"~day~" day")|localizeddate('full', 'none', 'locale')|capitalize }}</option>

                                                {% endif %}

                                            {% elseif thisHour < 14 %}

                                                <option value = {{ day }}>{{ 'now'|date_modify("+"~day~" day")|localizeddate('full', 'none', 'locale') }}</option>                                            {% endif %}

                                        {% endfor %}


                                    </select>

                                </div>

                                <div class="form-group contactSelect2">

                                    <select class="form-control menuSelect hoursMenu" id="formControlSelect2" >

                                        <option value= "" style="color:#ffbb00;" disabled selected>Choisissez un créneau horaire</option>
                                        <option value=1 id="hour8">Rappeler entre 8h et 10h</option>
                                        <option value=2 id="hour10">Rappeler entre 10h et 12h</option>
                                        <option value=2 id="hour14">Rappeler entre 14h et 16h</option>

                                    </select>

                                </div>

                                </div>

                                {{ form_row(formContactDisplay.information, {'attr': {'required': false, 'class' : 'form-control textarea',rows : "4", cols :"50", "placehoder" : "Votre message"}}) }}


                                <div>
                                    {{ form_row(formContactDisplay.quoteRequest, {'attr': {'required': false, 'class' : 'form-control'}}) }}
                                </div>

                                <div>
                                    {{ form_row(formContactDisplay.newsletterRequest, {'attr': {'required': false, 'class' : 'form-control'}}) }}
                                </div>

                                <div>
                                    {{ form_row(formContactDisplay.informationsRequest, {'attr': {'required': false, 'class' : 'form-control'}}) }}
                                </div>

                                <div>
                                    {{ form_row(formContactDisplay.archived, {'attr': {'required': false, 'class' : 'form-control'}}) }}
                                </div>

                                <div style="display:none;">
                                    {{ form_row(formContactDisplay.lastAction, {'attr': {'required': false, 'class' : 'form-control'}}) }}
                                </div>

                                <div>
                                    {{ form_row(formContactDisplay.lastActionDate, {'attr': {'required': false, 'class' : 'form-control'}}) }}
                                </div>

                                <div style="display:none;">
                                    {{ form_row(formContactDisplay.nextAction, {'attr': {'required': false, 'class' : 'form-control'}}) }}
                                </div>

                                <div class="col hiddenDiv" style="display:none;">

                                    {{ form_row(formContactDisplay.save, {'attr': {'class' : 'form-control btn btn-fill btn-rose btnContactSave'},'label': 'Valider'}) }}

                                    {{ form_widget(formContactDisplay.nextActionDate.day, {'attr': {'required': false, 'class' : 'date endDateDay form-control'}}) }}

                                    {{ form_widget(formContactDisplay.nextActionDate.month, {'attr': {'required': false, 'class' : 'date endDateMonth form-control'}}) }}

                                    {{ form_widget(formContactDisplay.nextActionDate.year, {'attr': {'required': false, 'class' : 'date endDateYear form-control'}}) }}

                                </div>

                                {{ form_end(formContactDisplay) }}
                                <button class="form-control btn btn-fill btn-rose validContactForm"  aria-label="Validation demande de renseignements"  style="width:125px;">Envoyer</button>


                            </div>



                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="contactForm2" id="quoteAnchor" style="position:absolute; text-align:center; width:100%;" >
            <div class="container">
                <div class="formBlock contactForm2">
                    <div class="col-lg-6 col-md-6 col-sm-8 col-xs-10 col-lg-offset-3 col-md-offset-3 col-sm-offset-2 col-xs-offset-1">

                        <div class="card1 card2 ">

                            <h2>Demande de devis</h2>

                            <p style="margin-right:10px;margin-left:10px;color:#000000;">Nous vous recontacterons dans les meilleurs délais pour vous donner la meilleure expertise </p>

                            <div class="card1-header card1-header-rose card1-header-icon devisFormCont">
                                <div class="card1-icon devisForm">
                                    <p>Vos informations</p>
                                </div>
                            </div>

                            <div class="card1-body ">

                                {{ form_start(formQuote, {'attr': {'class': 'form-group'}} ) }}

                                <fielset class="form-group">
                                    {{ form_widget(formQuote.company, {'attr': {'required': true, 'class' : 'form-control'}}) }}
                                    {{ form_errors(formQuote.company) }}
                                </fielset>

                                <fieldset class="form-group respCivility" style="padding-bottom: 0;">
                                    {{ form_widget(formQuote.respCivility, {'attr': {'required': true, 'style':'display:inlineBlock','class' : 'form-control'}}) }}
                                    {{ form_errors(formQuote.respCivility) }}
                                </fieldset>


                                <fieldset class="form-group">
                                    {{ form_widget(formQuote.respName, {'attr': {'required': true, 'class' : 'form-control'}}) }}
                                    {{ form_errors(formQuote.respName) }}
                                </fieldset>

                                <fieldset class="form-group">
                                    {{ form_widget(formQuote.prospect.email, {'attr': {'required': true, 'class' : 'form-control'}}) }}
                                    {{ form_errors(formQuote.prospect.email) }}
                                </fieldset>


                                <fieldset class="form-group">
                                    {{ form_widget(formQuote.prospect.phone, {'attr': {'required': true, 'class' : 'form-control'}}) }}
                                    {{ form_errors(formQuote.prospect.phone) }}
                                </fieldset>

                                <fieldset class="form-group">
                                    {{ form_widget(formQuote.siret, {'attr': {'required': true, 'class' : 'form-control'}}) }}
                                    {{ form_errors(formQuote.siret) }}
                                </fieldset>


                                <fieldset class="form-group">
                                    {{ form_widget(formQuote.activity, {'attr': {'required': true, 'class' : 'form-control'}}) }}
                                    {{ form_errors(formQuote.activity) }}
                                </fieldset>

                                <fieldset class="form-group">
                                    {{ form_widget(formQuote.route, {'attr': {'required': true, 'class' : 'form-control'}}) }}
                                    {{ form_errors(formQuote.route) }}
                                </fieldset>

                                <fieldset class="form-group">
                                    {{ form_widget(formQuote.postalCode, {'attr': {'required': true, 'class' : 'form-control'}}) }}
                                    {{ form_errors(formQuote.postalCode) }}
                                </fieldset>


                                <fieldset class="form-group">
                                    {{ form_widget(formQuote.locality, {'attr': {'required': true, 'class' : 'form-control'}}) }}
                                    {{ form_errors(formQuote.locality) }}
                                </fieldset>

                                <fieldset class="form-group">

                                {{ form_row(formQuote.prospect.information, {'attr': {'required': false, 'class' :
                                    'form-control textarea',rows : "4", cols :"50", "placehoder" : "Votre message"}}) }}
                                </fieldset>


                                <fieldset style="display:none;">
                                    {{ form_widget(formQuote.prospect, {'attr': {'required': true, 'class' : 'form-control', 'label':false  }}) }}

                                    {{ form_widget(formQuote.prospect.name, {'attr': {'required': true, 'class' : 'form-control'  }}) }}
                                {{ form_widget(formQuote.prospect.lastAction, {'attr': {'required': true, 'class' : 'form-control'  }}) }}
                                {{ form_widget(formQuote.prospect.lastActionDate, {'attr': {'required': true, 'class' : 'form-control'  }}) }}
                                {{ form_widget(formQuote.prospect.nextAction, {'attr': {'required': true, 'class' : 'form-control'  }}) }}
                                {{ form_widget(formQuote.prospect.nextActionDate, {'attr': {'required': true, 'class' : 'form-control'  }}) }}

                                </fieldset>


                            </div>

                            <div>

                                <div class="card1-footer " style="padding:0.9375rem 20px;">
                                    {{ form_row(formQuote.save2, {'attr': {'class' : 'form-control btn btn-fill btn-rose','aria-label':"Valider la demande de devis" },'label': 'Envoyer'}) }}
                                </div>

                                {{ form_end(formQuote) }}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section blueBlock section-our-team" style="height:300px;"></div>

        <div class="section beigeBlock section-our-team" style="height:1100px;"></div>

        <div class="blueBlock section section-address" style="padding-top:0; padding-bottom:0;">
                <div class="row">

                    <div class="col-md-5" style="height:600px;">

                        <div style="padding: 20% 10%;">
                        <li style="margin-bottom:0;"><a style="margin-bottom:0;"><span style="margin-bottom:0;" class="glyphicon glyphicon-map-marker"></span>92 avenue des Champs Elysées</a></li>
                        <li><a><span style="color:#113441;" class="glyphicon glyphicon-map-marker"></span>75018 Paris</a></li>

                            <li><a><span class=" glyphicon glyphicon-earphone "></span>06.05.87.18.18</a></li>
                            <li><a aria-label="Lien vers le formulaire d'envoi de mail" style="color:#ffffff" href={{ path('contactForm') }}><span style="color:#ffffff" class="glyphicon glyphicon-send"></span>lehibouquigeek@gmail.com</a></li>
                        </div>

                    </div>

                    <div class="col-md-7">
                        <div  id="my_osm_widget_map" style="z-index:1">


                        </div>


                    </div>

                </div>

            </div>




        </div>




    {% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script src="https://npmcdn.com/leaflet@1.0.0-rc.2/dist/leaflet.js"></script>
    <script src="{{ asset('assets/js/contact.js') }}"></script>
    <script src="assets/js/plugins/bootstrap-selectpicker.js" ></script>

{% endblock %}
