{% extends 'base.html.twig' %}


    {% block stylesheets %}
        {{ parent() }}

        <style>

            /*.hamburger {*/
                /*z-index:81;*/
            /*}*/
            .contactForm1 {
                z-index:80;
            }
            .contactForm2 {
                z-index:80;
            }

        </style>

    {% endblock %}

    {% block logo %}

        <div class="headSection blueBlockHead";>

                {#<div class="container">#}
                <div class="content blueBlock">

                    <div class="blueHeadImg">
                        <img alt="..." src="../assets/img/logoBleu.png"/>
                    </div>

                </div>
            {#</div>#}
        </div>
    {% endblock %}

    {% block content %}

        <div class="section blueBlock section-our-team">
            <div class="container">
                <!--<div class="text-area">-->
                <h1>Nos références</h1>

                <div class="title-area">
                    <h2>Réalisation de sites</h2>
                    <div class="separator separator-danger">♦</div>

                </div>
                <p class="description">
                    Mauris id sagittis est. Integer a mauris nec augue cursus molestie. Vivamus ut lectus non felis condimentum tempor. Praesent efficitur semper congue. Duis nec nisi libero. Pellentesque aliquam quam nec massa faucibus, nec mollis dui maximus. Aliquam ornare et mi et convallis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis in elementum orci. Sed a tempor tortor. Nam massa nibh, placerat at leo et, tincidunt pretium ex. Phasellus lectus felis, pretium ut ornare et, pharetra ac turpis. Integer non aliquam tellus. Vestibulum malesuada sed magna vel pretium. Pellentesque posuere interdum lectus id consequat. Praesent aliquam justo a quam efficitur tempus.
                </p>
            </div>

            <div class="container">

                <div class="row">

                    <div class="col-md-4 col-md-offset-4 text-center" style="margin-bottom:50px;">

                        <div class="col-md-3 text-center"> <img alt="..." src="../assets/img/facebook.png" style="width:50px;height:50px"/></div>
                        <div class="col-md-3 text-center"> <img alt="..." src="../assets/img/instagram.png" style="width:50px;height:50px"/></div>
                        <div class="col-md-3 text-center"> <img alt="..." src="../assets/img/twitter.png" style="width:50px;height:50px"/></div>
                        <div class="col-md-3 text-center"> <img alt="..." src="../assets/img/linkedin.png" style="width:50px;height:50px"/></div>

                    </div>

                    <div class="col-md-4 text-center">
                        <div class="col-md-12 text-center" style="height:60px;">
                            <div style="width:400px;margin:auto;">
                                <button type="button" class="btn btn-fill btn-owl">
                                    Subscribe
                                </button>

                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="container" style="text-align:center;margin-top:100px;">

                <h2>Nous contacter</h2>

            </div>


            {%  set today = 'now'|date('l')%}
            {%  set thisHour = 'now'|date_modify("+1 hour")|date('H')%}

            {#{% if gerard = "" %}#}
            {#{% set day1 = %}#}
            {#{% set day2 = %}#}
            {#{% set day3 = %}#}
            {#{% set day4 = %}#}




            {#lundi=["lundi", "mardi", mercredi", "jeudi"];#}
            {#mardi = ["mardi", "mercredi", "jeudi", "vendredi"];#}
            {#mercredi = ["mercredi", "jeudi", "vendredi", "samedi"];#}
            {#jeudi = ["jeudi", "vendredi", "samedi", "lundi"];#}
            {#vendredi = ["vendredi", "samedi", "lundi", "mardi"];#}
            {#samedi = ["samedi", "lundi", "mardi", "mercredi"]#}
            {#dimanche = ["lundi", "mardi", "mercredi"]#}


            {% if today == "Monday" %}
                {%  set
                    todayList = [0,1,2,3,4,5,7]
                %}
            {% elseif today == "Tuesday" %}
                {% set
                    todayList = [0,1,2,3,4,6,7]
                %}
            {% elseif today == "Wednesday" %}
                {% set
                    todayList = [0,1,2,3,5,6,7]
                %}
            {% elseif today == "Thursday" %}
                {% set
                    todayList = [0,1,2,4,5,6,7]
                %}
            {% elseif today == "Friday" %}
                {% set
                    todayList = [0,1,3,4,5,6,7]
                %}
            {% elseif today == "Saturday" %}
                {% set
                    todayList = [0,2,3,4,5,6,7]
                %}
            {% elseif today == "Sunday" %}
                {% set
                    todayList = [1,2,3,4,5,6,7]
                %}
            {% endif %}

            {% set todayList =
                [0,1,2,3,4,6,7]

            %}

            {{ today }}
            {{ thisHour }}
            {#{% for moment in lundi %}#}

                {#<h1>{{ moment.date }}</h1>#}

            {#{% endfor %}#}
            {#{{ dump(lundi[0].date) }}#}




            {#lundi=["Aujourd'hui", "Demain", mercredi", "jeudi"];#}
            {#mardi = ["Aujourd'hui", "Demain", "jeudi", "vendredi"];#}
            {#mercredi = ["Aujourd'hui", "Demain", "vendredi", "samedi"];#}
            {#jeudi = ["Aujourd'hui", "Demain", "samedi", "lundi"];#}
            {#vendredi = ["Aujourd'hui", "Demain", "lundi", "mardi"];#}
            {#samedi = ["Aujourd'hui", "lundi", "mardi", "mercredi"]#}
            {#dimanche = ["Demain", "mardi", "mercredi"]#}

            <div class="container">
                <div class="formBlock contactForm1">
                    <div class="col-lg-6 col-md-6 col-sm-8 col-xs-10 col-lg-offset-3 col-md-offset-3 col-sm-offset-2 col-xs-offset-1">
                        <div class="card1">

                            <div class="card1-header card1-header-rose card1-header-icon">
                                <div class="card1-icon">
                                    <i class="material-icons" style="color:#113441">mail_outline</i>
                                </div>
                            </div>

                            <div class="card1-body ">

                                {{ form_start(formNL, {'attr': {'class': 'form-group'}} ) }}

                                <div>
                                    {{ form_widget(formNL.name, {'attr': {'required': true, 'class' : 'form-control'}}) }}
                                    {{ form_errors(formNL.name) }}
                                </div>

                                <div>
                                    {{ form_widget(formNL.email, {'attr': {'required': true, 'class' : 'form-control'}}) }}
                                    {{ form_errors(formNL.email) }}
                                </div>

                                <div>
                                    {{ form_widget(formNL.phone, {'attr': {'required': true, 'class' : 'form-control'}}) }}
                                    {{ form_errors(formNL.phone) }}
                                </div>

                                <div class="form-group NLSelect1">

                                    <select class="form-control menuSelect daysMenu"  id="formControlSelect1" >

                                        <option value="" style="color:#ffbb00;" disabled selected>Jour où vous souhaitez être rappelé</option>


                                        {#{% if gerard == "Monday" %}#}
                                        {% for day in todayList %}
                                            {% if thisHour >=14 %}
                                                {% if not loop.first %}
                                                    <option class="option">{{ 'now'|date_modify("+"~day~" day")|localizeddate('full', 'none', 'locale') }}</option>
                                                {% endif %}
                                            {% elseif thisHour < 14 %}
                                                <option value = {{ day }}>{{ 'now'|date_modify("+"~day~" day")|localizeddate('full', 'none', 'locale') }}</option>                                            {% endif %}

                                        {% endfor %}

                                        {#{% elseif gerard == "Tuesday" %}#}
                                        {#{% for moment in mardi %}#}
                                            {#{{ moment }}#}
                                            {#<option>{{ moment.date}}</option>#}
                                        {#{% endfor %}#}

                                        {#{% endif %}#}

                                    </select>

                                </div>

                                <div class="form-group NLSelect2">

                                    <select class="form-control menuSelect hoursMenu" id="formControlSelect1" >

                                        <option value="" style="color:#ffbb00;" disabled selected>Choisissez un créneau horaire</option>

                                        {#{% for moment in lundi %}#}
                                            {#<option>{{ moment.date}}</option>#}
                                        {#{% endfor %}#}

                                    </select>

                                </div>


                                <div>
                                    {{ form_row(formNL.quoteRequest, {'attr': {'required': false, 'class' : 'form-control'}}) }}
                                </div>

                                <div>
                                    {{ form_row(formNL.newsletterRequest, {'attr': {'required': false, 'class' : 'form-control'}}) }}
                                </div>

                                <div>
                                    {{ form_row(formNL.informationsRequest, {'attr': {'required': false, 'class' : 'form-control'}}) }}
                                </div>

                                <div>
                                    {{ form_row(formNL.archived, {'attr': {'required': false, 'class' : 'form-control'}}) }}
                                </div>

                                <div>
                                    {{ form_row(formNL.lastAction, {'attr': {'required': false, 'class' : 'form-control'}}) }}
                                </div>

                                <div>
                                    {{ form_row(formNL.lastActionDate, {'attr': {'required': false, 'class' : 'form-control'}}) }}
                                </div>

                                <div>
                                    {{ form_row(formNL.nextAction, {'attr': {'required': false, 'class' : 'form-control'}}) }}
                                </div>

                                <div>
                                    {{ form_row(formNL.nextActionDate, {'attr': {'required': false, 'class' : 'form-control '}}) }}
                                </div>

                                <div class="card1-footer ">
                                    {{ form_row(formNL.save, {'attr': {'class' : 'form-control btn btn-fill btn-rose'},'label': 'Valider'}) }}
                                </div>

                                {{ form_end(formNL) }}


                            </div>



                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="contactForm2" style="position:absolute; text-align:center; width:100%;" >
            <div class="container">
                <div class="formBlock contactForm2">
                    <div class="col-lg-6 col-md-6 col-sm-8 col-xs-10 col-lg-offset-3 col-md-offset-3 col-sm-offset-2 col-xs-offset-1">

                        <div class="card1 card2 ">

                            <h2>Demande de devis</h2>

                            <p style="margin-right:10px;margin-left:10px;">Nous vous recontacterons dans les meilleurs délais pour vous donner la meilleure expertise </p>

                            <div class="card1-header card1-header-rose card1-header-icon">
                                <div class="card1-icon devisForm">
                                    <i>Vos informations</i>
                                </div>
                            </div>

                            <div class="card1-body ">

                                {#{{ form_start(formQuote, {'attr': {'class': 'form-group'}} ) }}#}

                                {#<div class="form-group">#}
                                    {#{{ form_widget(formQuote.company, {'attr': {'required': true, 'class' : 'form-control'}}) }}#}
                                    {#{{ form_errors(formQuote.company) }}#}
                                {#</div>#}

                                {#<div class="form-group respCivility">#}
                                    {#{{ form_widget(formQuote.respCivility, {'attr': {'required': true, 'style':'display:inlineBlock','class' : 'form-control'}}) }}#}
                                    {#{{ form_errors(formQuote.respCivility) }}#}
                                {#</div>#}


                                {#<div class="form-group">#}
                                    {#{{ form_widget(formQuote.respName, {'attr': {'required': true, 'class' : 'form-control'}}) }}#}
                                    {#{{ form_errors(formQuote.respName) }}#}
                                {#</div>#}



                                {#<div>#}
                                    {#{{ form_widget(formQuote.email, {'attr': {'required': true, 'class' : 'form-control'}}) }}#}
                                    {#{{ form_errors(formQuote.email) }}#}
                                {#</div>#}


                                {#<div>#}
                                    {#{{ form_widget(formQuote.siret, {'attr': {'required': true, 'class' : 'form-control'}}) }}#}
                                    {#{{ form_errors(formQuote.siret) }}#}
                                {#</div>#}


                                {#<div>#}
                                    {#{{ form_widget(formQuote.activity, {'attr': {'required': true, 'class' : 'form-control'}}) }}#}
                                    {#{{ form_errors(formQuote.activity) }}#}
                                {#</div>#}


                                {#<div>#}
                                    {#{{ form_widget(formQuote.phone, {'attr': {'required': true, 'class' : 'form-control'}}) }}#}
                                    {#{{ form_errors(formQuote.phone) }}#}
                                {#</div>#}


                                {#<div>#}
                                    {#{{ form_widget(formQuote.postalCode, {'attr': {'required': true, 'class' : 'form-control'}}) }}#}
                                    {#{{ form_errors(formQuote.postalCode) }}#}
                                {#</div>#}


                                {#<div>#}
                                    {#{{ form_widget(formQuote.locality, {'attr': {'required': true, 'class' : 'form-control'}}) }}#}
                                    {#{{ form_errors(formQuote.locality) }}#}
                                {#</div>#}


                                {#<div class="card1-footer ">#}
                                    {#{{ form_row(formQuote.save2, {'attr': {'class' : 'form-control btn btn-fill btn-rose'},'label': 'Valider'}) }}#}
                                {#</div>#}

                                {#{{ form_end(formQuote) }}#}


                                {#<form method="#" action="#">#}

                                    {#<div class="form-group">#}
                                        {#<input type="text" class="form-control" id="exampleEmail" placeholder="Nom de la société">#}
                                    {#</div>#}

                                    {#<div class="form-group">#}
                                        {#<input type="email" class="form-control" id="examplePass" placeholder="Nom du responsable">#}
                                    {#</div>#}

                                    {#<div class="form-group">#}
                                        {#<input type="email" class="form-control" id="examplePass" placeholder="Adresse mail">#}
                                    {#</div>#}

                                    {#<div class="form-group">#}
                                        {#<input type="text" class="form-control" id="exampleEmail" placeholder="Numéro de siret">#}
                                    {#</div>#}

                                    {#<div class="form-group">#}
                                        {#<input type="email" class="form-control" id="examplePass" placeholder="Domaine d'activité">#}
                                    {#</div>#}

                                    {#<div class="form-group">#}
                                        {#<input type="text" class="form-control" id="exampleEmail" placeholder="téléphone">#}
                                    {#</div>#}

                                    {#<div class="form-group">#}
                                        {#<input type="email" class="form-control" id="examplePass" placeholder="Code postal">#}
                                    {#</div>#}

                                    {#<div class="form-group">#}
                                        {#<input type="text" class="form-control" id="exampleEmail" placeholder="Ville">#}
                                    {#</div>#}

                                    {#<div class="form-group NLSelect1">#}

                                        {#<select class="form-control selectpicker" data-style="btn btn-link" id="formControlSelect1" >#}
                                            {#<option value="" style="color:#ffbb00;" disabled selected>Select your option</option>                                        <option>rzerzer</option>#}
                                            {#<option>zere</option>#}
                                            {#<option>kjlkl</option>#}
                                            {#<option>oiuiiouio</option>#}
                                            {#<option>kljkljiouoei</option>#}
                                        {#</select>#}

                                    {#</div>#}

                                    {#<div class="form-group">#}
                                        {#<textarea type="textarea" class="form-control" id="textAreaDevis" placeholder="Commentaires"></textarea>#}
                                    {#</div>#}

                                {#</form>#}

                            </div>

                            {#<div class="card1-footer ">#}
                                {#<button type="submit" class="btn btn-fill btn-rose">S'inscrire</button>#}
                            {#</div>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section blueBlock section-our-team" style="height:300px;"></div>

        <div class="section beigeBlock section-our-team" style="height:1100px;"></div>




        </div>




    {% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script src="assets/js/plugins/bootstrap-selectpicker.js" ></script>

    <script>

        $(".hoursMenu").hide();

        $(".daysMenu").on("change", function() {
            console.log("changé");

            $(".hoursMenu").show();

            var now = new Date();
            var day = now.getDay();
            var hour = now.getHours();
            console.log(hour);

            $(".hoursMenu").empty();

            if($(".daysMenu").val() != 0 || day == 0)  {

            // <option value="" style="color:#ffbb00;" disabled selected>Jour où vous souhaitez être rappelé</option>


                    var optionCat0 = document.createElement("OPTION");
                    textCat = document.createTextNode("Jour où vous souhaitez être rappelé");
                    // optionCat0.attr("disabled");
                    optionCat0.setAttribute("style", "color:#ffbb00;");
                    optionCat0.appendChild(textCat);
                    optionCat0.selected = true;
                    $(".hoursMenu").append(optionCat0);

                    var optionCat0 = document.createElement("OPTION");
                    textCat = document.createTextNode("Entre 8h et 10h");
                    optionCat0.appendChild(textCat);
                    optionCat0.selected = true;
                    $(".hoursMenu").append(optionCat0);

                    optionCat0 = document.createElement("OPTION");
                    textCat = document.createTextNode("Entre 10h et 12h");
                    optionCat0.appendChild(textCat);
                    optionCat0.selected = true;
                    $(".hoursMenu").append(optionCat0);

                    optionCat0 = document.createElement("OPTION");
                    textCat = document.createTextNode("Entre 14h et 16h");
                    optionCat0.appendChild(textCat);
                    optionCat0.selected = true;
                    $(".hoursMenu").append(optionCat0);
            }
            else {

                var optionCat0 = document.createElement("OPTION");
                textCat = document.createTextNode("Choisissez un créneau horaire");
                optionCat0.setAttribute("disabled", true);
                optionCat0.setAttribute("style", "color:#ffbb00;");
                optionCat0.appendChild(textCat);
                optionCat0.selected = true;
                $(".hoursMenu").append(optionCat0);

                if (hour < 8) {
                    var optionCat0 = document.createElement("OPTION");
                    textCat = document.createTextNode("Entre 8h et 10h");
                    optionCat0.appendChild(textCat);
                    $(".hoursMenu").append(optionCat0);
                }
                if (hour < 10) {
                    optionCat0 = document.createElement("OPTION");
                    textCat = document.createTextNode("Entre 10h et 12h");
                    optionCat0.appendChild(textCat);
                    $(".hoursMenu").append(optionCat0);
                }
                if (hour < 14) {
                    optionCat0 = document.createElement("OPTION");
                    textCat = document.createTextNode("Entre 14h et 16h");
                    optionCat0.appendChild(textCat);
                    $(".hoursMenu").append(optionCat0);
                }

            }

        })



    </script>

{% endblock %}
