{% extends 'base.html.twig' %}

{% block title %}Accueil le hibou qui geek{% endblock %}

    {% block stylesheets2 %}
        <meta name="description" content ="L’Agence Le Hibou qui Geek est une agence digitale spécialisée dans l’accessibilité. Elle propose la création et l’optimisation de sites vitrine ou e-commerce, la construction de votre stratégie Webmarketing, ou encore, le développement d’une identité visuelle. ">
    {% endblock %}
    {% block logo %}

    <div class="headSection homeHead">
        <div>

            <div class="container">

                <div class="content">

                    <div>
                        <img alt="" src="../assets/img/logoHome.png"/>
                    </div>

                 </div>
            </div>
         </div>
    </div>

    {% endblock %}

    {% block content %}
        <div class="section section-our-projects yellowBlock">

        <div class="title-area">
            <h2 style="margin-top:0; padding-top:35px;">L’agence de l’accessibilité web</h2>
            <div class="separator separator-danger">♦</div>
            <div class="description divDescription">
            <p>
                Experts dans le domaine du digital et passionnés par l’utilisation client, nous considérons le web comme un élément fondamental qui devrait être accessible à tous. Créatifs et dynamiques, nous saurons apporter toutes les solutions à vos besoins. La création ou la refonte de sites vitrines ou e-commerce, la construction de votre stratégie Webmarketing, ou encore, le développement d’une identité visuelle en cohérence avec image de marque, nous vous accompagnons dans tous vos projets.            </p>
            </div>
        </div>

        <div class="text-center">
            <a aria-label="Lien vers la demande de devis" class="btn btn-fill btn-owl" href={{ path('owlContactDisplay')}}#quoteAnchor>
                Parlez-nous de notre projet
            </a>
        </div>
    </div>



        <div class="section whiteBlock section-our-team">
            <div class="container">
                {#<div class="text-area">#}
                    <div class="title-area"  style="margin-bottom:50px;">
                        <h2>Le jeu du hibou</h2>
                    </div>
                {#</div>#}
                <div style="text-align:center">

                    <p id="cardText">
                    </p>

                </div>

                <div class="game"  style="text-align:center;">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            {#<div class="row">#}

                                {% for card in cardsArray %}

                                    <div class="col-xs-3 col-6 cardDiv">
                                        <div class="flip col-center-block" id={{ card }}>
                                            <div class="gameCard">
                                                <div class="face front">
                                                    <img alt="" style = "border-radius:15px; " src="../assets/img/backgroundCard.png" class="gameImg img-responsive">
                                                </div>
                                                <div class="face back">
                                                    <img alt="" style = "border-radius:15px;"  class="gameImg img-responsive" src={{"../assets/img/"~ card|slice(1) ~".png"}} >
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                {% endfor %}

                            </div>
                        </div>
                    {#</div>#}
                </div>

                <div class="team"  style="text-align:center;margin-top:50px;">
                    <div class="row">

                        <!-- end team -->
                        <div class="col-md-8 col-md-offset-2 text-center" style="height:60px;">
                            <div class="col-md-6 text-center">
                                <a aria-label="Lien vers la demande de contact" class="btn btn-fill btn-owl"  href={{ path('owlContactDisplay')}}#contactAnchor>
                                    Je prends rendez-vous
                                </a>
                            </div>
                            <div class="col-md-6 text-center">
                                <a  aria-label="Lien vers la demande de devis" class="btn btn-fill btn-owl" href={{ path('owlContactDisplay')}}#quoteAnchor>
                                    Nous en dire plus
                                </a>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>


    <div class="beigeBlock section section-card-blog" style="padding-bottom:70px;">
        <div class="container">
            <div class="title-area">
                <h2>Nos dernières actualités</h2>
            </div>

            <div class="row">
                <div class="col-md-6" style="padding: 0 50px 0 50px;">
                    <div class="card card-blog">
                        <a aria-label="Lien vers la page de l'article" href="blog-posts.html" class="header">
                            <img alt="" src="../assets/img/persons/web4y.jpg" class="image-header">

                        </a>
                        <div class="content"  style="background-color:#F9E9BE; padding: 25px 25px 0 25px;">
                            <a aria-label="Lien vers la page de l'article"  href="blog-posts.html" class="card-title"><h2>We Are Here to Make Life Better</h2></a>
                            <p>Royère doesn't make a Polar bear bed but the Polar bear couch is my favorite piece of furniture we own The Pablo pop up was almost a pop up of influence.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6" style="padding: 0 50px 0 50px;">
                    <div class="card card-blog">
                        <a aria-label="Lien vers la page de l'article"  href="blog-posts.html">
                            <img alt="" src="../assets/img/persons/web6y.jpg" href="blog-posts.html" class="image-header">
                        </a>
                        <div class="content"  style="background-color:#F9E9BE; padding: 25px 25px 0 25px;">
                            <a aria-label="Lien vers la page de l'article"  href="blog-posts.html" class="card-title"><h2>We Are Here to Make Life Better</h2></a>
                            <p>Royère doesn't make a Polar bear bed but the Polar bear couch is my favorite piece of furniture we own The Pablo pop up was almost a pop up of influence.</p>
                        </div>
                    </div>
                </div>

            </div>

            {#<div class="col-md-12 text-center" style="height:50px;">#}
                {#<button type="button" class="btn btn-fill btn-owl">#}
                    {#Subscribe#}
                {#</button>#}
            {#</div>#}

        </div>
    </div>
    {#</div>#}

    <div class="blueBlock section" style="padding-top:50px;">
        <div class="container">
            <div class="title-area">
                <h2>Recevez la newsletter du hibou</h2>
            </div>

            <div class="container">
                <div class="formBlock contactForm1">
                    <div class="col-lg-6 col-md-6 col-sm-8 col-xs-10 col-lg-offset-3 col-md-offset-3 col-sm-offset-2 col-xs-offset-1">
                        <div class="card1">

                            <div class="card1-header card1-header-rose card1-header-icon">
                                <div class="card1-icon">
                                    <i class="material-icons" style="color:#113441">mail_outline</i>
                                </div>
                            </div>

                            <div class="card1-body ">

                                <div id="mc_embed_signup">

                                    <form action="https://helvie.us19.list-manage.com/subscribe/post?u=6ec326037cb371ea154dace87&amp;id=86e90caefa"
                                          method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class=" form-group validate" target="_blank" novalidate>
                                        <div id="mc_embed_signup_scroll">

                                            <div class="mc-field-group">
                                                <label for="mce-FNAME">Nom </label>
                                                <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME">
                                            </div>

                                            <div class="mc-field-group">
                                                <label for="mce-EMAIL">Email<span class="asterisk">*</span>
                                                </label>
                                                <input  type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL">
                                            </div>

                                            <div id="mce-responses" class="clear">
                                                <div class="response" id="mce-error-response" style="background-color:yellow;display:none"></div>
                                                <div class="response" id="mce-success-response" style="display:none"></div>
                                            </div>

                                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6ec326037cb371ea154dace87_86e90caefa" tabindex="-1" value=""></div>
                                            <div class="clear" style="display:none"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>

                                        </div>

                                    </form>
                                </div>

                                <div class="card1-footer ">
                                    <button aria-label="Validation inscription à la newsletter" id="falseButton" class="form-control btn btn-fill btn-rose">Je m'inscris</button>
                                </div>


                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% endblock %}
{% block javascripts %}

    {{ parent() }}

    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
    <script src="{{ asset('assets/js/Nl.js') }}"></script>

{% endblock %}